@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@font-face {
  font-family: 'clocko';
  src: url('./fonts/digital-7.ttf');
}

body {
  background-color: #D5EFCF;
}

.statsZone {
  font-family: 'Raleway', sans-serif;
  height: 200px;
  width: 175px;
  background-color: #D56D46;
  box-shadow: 5px 5px #fff591;
  border-radius: 0px 5px 5px 0px;
  left: 0px;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 40px;
  position: absolute;
}

#title{
  font-size: 26px;
}

hr {
  border-color: #fff591;
}

#tomatoPic {
  position: absolute;
  left: calc(50% - 250px);
  top: 25%;
  width: 500px;
}

.clockFace {
  font-size: 75px;
  width: 200px;
  background-color: white;
  background:rgba(255,255,255,0.5);
  text-align: center;
  font-family: 'clocko';
  position: absolute;
  top: calc(25% + 200px);
  left: calc(50% - 105px);
  border-radius: 25px;
  padding-top: 8px;
}

.controlPanel {
  position: absolute;
  top: calc(25% + 360px);
  left: calc(50% - 245px);

}

.buttonBorder {
  display:inline-block;
  border: solid transparent;
  border-radius: 25px;
}

.buttonBorder:hover{
  border: solid #56A649;
}

.active{
  background-color: #fff591;
  color: black;
}

.bordered {
  border: solid #56A649;
}

button {
  width: 150px;
  height: 30px;
  margin: 3px;
  border-radius: 25px;
  background-color: #56A649;
  color: white;
  border: none;
  /* box-shadow: 4px 4px 4px grey; */
}

button:hover{
  /* background-color: #fff591;
  color: black; */
  cursor: pointer;
}

button:focus{
  outline: none;
}

#questionsMark {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 36px;
  font-family: 'clocko';
  border-radius: 50%;
  padding: 8px 15px 8px 20px;
  background-color: #fff591;
  box-shadow: 3px 5px #D56D46;
}

#questionsMark:hover{
  cursor: pointer;
  right: 23px;
  bottom:23px;
  box-shadow: 2px 3px #D56D46;
}

#infoZone{
  display: none;
}
