#tomatoPic {
  position: absolute;
  left: calc(50% - 250px);
  top: 25%;
  width: 500px;
}

.clockFace {
  font-size: 55px;
  position: absolute;
  top: calc(25% + 200px);
  left: calc(50% - 55px);
}
