@font-face {
  font-family: 'clocko';
  src: url('./fonts/digital-7.ttf');
}

body {
  background-color: #D5EFCF;
}

.statsZone {
  height: 100px;
  width: 50px;
  background-color: #fff591;
}

#tomatoPic {
  position: absolute;
  left: calc(50% - 250px);
  top: 25%;
  width: 500px;
}

.clockFace {
  font-size: 75px;
  font-family: 'clocko';
  position: absolute;
  top: calc(25% + 200px);
  left: calc(50% - 65px);
}

.controlPanel {
  position: absolute;
  top: calc(25% + 360px);
  left: calc(50% - 235px);

}

button {
  width: 150px;
  height: 30px;
  margin: 3px;
  border-radius: 25px;
  background-color: #56A649;
  color: white;
  border: none;
}

button:hover{
  background-color: yellow;
  color: black;
  cursor: pointer;
}

button:focus{
  outline: none;
}
